/* rgba(63, 63, 70, 0.15) */

.title-of-contactus{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title-of-contactus h1{
    display: flex;
    gap: 10px;
    align-items: center;

}

.title-of-contactus h1 span svg{
    font-size: 33px;
    margin-bottom: -5px;
    opacity: 0.7;
}

.title-of-contactus h1 span:last-child{
    opacity: 0.7;
}

.title-of-contactus p{
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
}

.contactUs{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;

}

.form-email{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.email-address{
    display: flex;
    gap: 15px;
    align-items: center;
}


.dark .email-address label{
    opacity: 0.6;
}
.light .email-address label{
    opacity: 0.8;
}

.dark .email-address input{
   background-color: rgba(63, 63, 70, 0.15);
   outline: none;
   border: 1px solid rgb(63, 63, 70);
   width: 300px;
   height: 40px;
   font-size: 15px;
   padding: 2px;
   padding-left: 15px;
   border-radius: 7px;
   color: rgb(194, 192, 192);
   transition: 0.2s;

}
.light .email-address input{
   background-color: rgba(176, 176, 184, 0.15);
   outline: none;
   border: 1px solid rgb(45, 212, 191);
   width: 300px;
   height: 40px;
   font-size: 15px;
   padding: 2px;
   padding-left: 15px;
   border-radius: 7px;
   color: rgb(83, 81, 81);
   transition: 0.2s;

}



.email-address input:focus{
    border: 1px solid rgb(52, 175, 159);
}

.message-sec{
    display: flex;
    gap: 15px;
}

.dark .message-sec label{
    opacity: 0.6;
}
.light .message-sec label{
    opacity: 0.8;
}

.dark .message-sec textarea{
    background-color: rgba(63, 63, 70, 0.15);
    outline: none;
    border: 1px solid rgb(63, 63, 70);
    font-size: 15px;
    padding: 2px;
    padding-left: 15px;
    border-radius: 7px;
    color: rgb(194, 192, 192);
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    min-height: 9rem;
    min-width: 300px;
    max-width: 700px;
    transition: 0.2s;

}
.light .message-sec textarea{
    background-color: rgba(176, 176, 184, 0.15);
    outline: none;
    border: 1px solid rgb(45, 212, 191);
    font-size: 15px;
    padding: 2px;
    padding-left: 15px;
    border-radius: 7px;
    color: rgb(83, 81, 81);
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    min-height: 9rem;
    min-width: 300px;
    max-width: 700px;
    transition: 0.2s;
    max-height: 500px;

}

@media (max-width:653px){
    .message-sec textarea{
        max-width: 350px;
    }
}
@media (max-width:670px){
    .message-sec textarea{
        max-width: 250px;
    }
}

.message-sec textarea:focus{
    border: 1px solid rgb(52, 175, 159);

}

.dark .SendBtn{
    display: flex;
    gap: 7px;
    background-color: teal;
    width: 425px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: 0.1s;   
}
.light .SendBtn{
    display: flex;
    gap: 7px;
    background-color: rgb(51, 50, 50);
    width: 425px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: 0.1s;   
    color: white;
}

.SendBtn:hover{
    opacity: 0.8;
}

.SendBtn:active{
    opacity: 1;
}

.SendBtn span svg{
    font-size: 17px;
    margin-top: 5px;
}


@media (max-width: 650px){
    .email-address{
        flex-direction: column;
        align-items: first baseline;
    }
    .message-sec{
        flex-direction: column;
    }
    .form-email{
        justify-content: center;
        align-items: center;
    }
    .SendBtn{
        text-align: center;
        width: 300px;
    }
    .title-of-contactus{
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .title-of-contactus p{
        text-align: center;
    }
}



.animation-forms {
    width: 420px;
    height: 420px;
}

.forms{
    display: flex;
    align-items: center;
}



@media (max-width: 1100px){
    .animation-forms{
        display: none;
    }
    .contactUs{
        gap: 40px;
    }
    .forms{
        display: block;
    }
}
