
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
  font-family: "Roboto", sans-serif;
}

.dark .Container-of-Header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: 300;
}
.light .Container-of-Header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: 300;
}

.Content-of-header-sec {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;

}

.dark .content-of-center-sec ul {
  display: flex;
  gap: 60px;
  list-style: none;
  /* padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 35px; */
  width: 600px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 1px rgba(128, 145, 192, 0.473) solid;
  background-color: #141416;
  transition: 0.1s;

}
.light .content-of-center-sec ul {
  display: flex;
  gap: 60px;
  list-style: none;
  /* padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 35px; */
  width: 600px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 1px rgba(128, 145, 192, 0.473) solid;
  background-color: #353536;
  transition: 0.1s;
  color: white;

}

.content-of-center-sec ul:hover{
  border: 1px rgba(66, 96, 180, 0.76) solid;

}

.content-of-center-sec ul a {
  padding: 5px;
  font-size: 16px;
  transition: 0.1s;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.content-of-center-sec ul a:hover {
  color: gray;
}
.content-of-center-sec ul a:active {
  color: rgb(145, 140, 140);
  scale: 0.9;
}

.right-sec {
  border: 1px rgba(128, 145, 192, 0.356) solid;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.right-sec:active{
  rotate: 360deg;
}
.right-sec:hover {
  border: 1px rgba(66, 96, 180, 0.76) solid;
  opacity: 0.8;
}

.right-sec:active {
  opacity: 1;
}

.menu {
  display: none;
  width: 110px;
  height: 45px;
  border: 1px rgba(128, 145, 192, 0.356) solid;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s;
}

.menu:hover{
    background-color: #4b4a4a54;
}


.menu button{
    font-size: 19px;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fixe {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(87, 92, 92, 0.5);
    z-index: 5;
  }
  

@media (max-width: 950px) {
  .content-of-center-sec {
    display: none;
  }
  .menu {
    display: flex;
  }
  /* .fixe{
    display: block;
  } */

}

.cont-of-right-sec {
  display: flex;
  align-items: center;
  gap: 20px;
}

.center-sec2 {
    animation: scaleMenu 0.2s 1;
  background-color: rgb(31, 29, 29);
  width: 500px;
  font-weight: 400;
  position: relative;
  height: 220px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media (max-width: 525px){
    .center-sec2{
        width: 400px;
    }
}
@media (max-width: 610px){
    .center-sec2{
        width: 450px;
    }
}
@media (max-width: 490px){
    .center-sec2{
        width: 360px;
    }
}

.box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.box ul li{
    cursor: pointer;
    transition: 0.1s;
}

.box ul li:hover{
    color: gray;
}

.box ul li:active{
    color: rgb(99, 97, 97);
}


.border2 {
  border: 1px solid rgb(73, 71, 71);
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  transition: 0.1s;
}



.close:hover {
  opacity: 0.5;
}

.close:active {
  opacity: 1;
}


@keyframes scaleMenu{
    0%{scale: 0;}
    100%{scale: 1;}
}

@keyframes scaleClose{
    0%{scale: 1;}
    50%{scale: 0.5;}
    100%{scale: 0;}
}